<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      {{ section.text | markdownify }}
      <div class="gigs">
      </div>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTitle=0&showNav=0&showDate=0&showTabs=0&mode=AGENDA&showTz=0&showCalendars=0&showNav=1&showPrint=0&src=bnI1amZ0ZGptOXAwbGc0cGlnaTBkc2xkNmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23009688" style="border:solid 1px #777" width="800" height="200" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</section>
