<img src="images/profile.jpg"/>
<h3>Links</h3>
<ul>
    <li><a href="resume.html">resume</a></li>
    <li><a href="http://github.com/jshou">github</a></li>
    <li><a href="http://twitter.com/jshou">twitter</a></li>
    <li><a href="http://penguinlinguist.wordpress.com">blog</a></li>
    <li><a href="http://www.linkedin.com/pub/joshua-hou/7/673/b43">linkedin</a></li>
    <li><a href="http://myspace.com/jshou">myspace music</a></li>
</ul>

<h3>Projects</h3>
<ul>
    <li><a href="http://fail-whale.com">fail-whale</a></li>
    <li><a href="http://coinflip.herokuapp.com/">coinflip</a></li>
    <li><a href="https://play.google.com/store/apps/details?id=com.joshuahou.survivalphrases">SurvivalPhrases</a></li>
    <li><a href="http://jshou.github.com/sunglasses/">sunglasses</a></li>
    <li><a href="http://github.com/jshou/CipherTxt">CipherTxt</a></li>
    <li><a href="http://github.com/jshou/Language-Help">LanguageHelp</a></li>
</ul>
