<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center skinny">
      {{ section.text | markdownify }}
      <div>
        <h5>Josh Hou Trio</h5>
        <p>Chinese flavored instrumental jazz with a rotating cast of Seattle musicians</p>
        <iframe style="border: 0; width: 100%; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=566948394/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://joshhou.bandcamp.com/album/bilingualism">Bilingualism by Josh Hou</a></iframe>
      </div>
      <hr/>
      <div>
        <h5>How Short</h5>
        <p>Happy swing with sweet harmonies with Andy Short (guitar/vocals) and Josh Hou (accordion/vocals)</p>
        <iframe style="border: 0; width: 100%; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=2586711056/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://howshort.bandcamp.com/album/skylark">Skylark by How Short</a></iframe>
      </div>
      <hr/>
      <div>
        <h5>Jazztalk Seattle Podcast</h5>
        <p><a href="https://www.percussivejazz.com">Max Holmberg</a> (drums, percussion) and Josh Hou (accordion, keyboards) talk about jazz:
          records they're listening to, music they're working on, and stuff to check out in Seattle.</p>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/373271636&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
      </div>
    </div>
  </div>
</section>
