<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      {{ section.text | markdownify }}
      <div class="listen-embeds">
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=2518242870/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://goodluckrabbits.bandcamp.com/album/good-luck-rabbits">雙兔吉祥 good luck rabbits by 雙兔吉祥 good luck rabbits</a></iframe>
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=2107505339/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://joshandray.bandcamp.com/album/bloom">Bloom by joshandray</a></iframe>
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=1563791805/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://joshhou.bandcamp.com/album/diaspora">Diaspora by Josh Hou</a></iframe>
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=2149291982/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://joshandray.bandcamp.com/album/the-horn-bellows">The Horn Bellows by Josh and Ray</a></iframe>
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=4248580521/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://joshhou.bandcamp.com/album/feeling-of-home">Feeling of Home by Josh Hou</a></iframe>
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=566948394/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://joshhou.bandcamp.com/album/bilingualism">Bilingualism by Josh Hou</a></iframe>

        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=2586711056/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/" seamless><a href="https://howshort.bandcamp.com/album/skylark">Skylark by How Short</a></iframe>
        <iframe style="border: 0" src="https://bandcamp.com/EmbeddedPlayer/album=2465269515/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://howshort.bandcamp.com/album/moon-songs">Moon Songs by How Short</a></iframe>
        <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/373271636&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

        <h3>as a guest &middot; 作為嘉賓</h3>
        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1581074441/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=961017504/transparent=true/" seamless><a href="https://wesweddell.bandcamp.com/album/the-work-the-hope-the-promise">The Work, The Hope, The Promise by Wes Weddell</a></iframe>

        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=36980258/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=1076029993/transparent=true/" seamless><a href="https://leannakeith.bandcamp.com/album/body-of-breath">body of breath by Leanna Keith</a></iframe>

        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1925296226/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=3931522127/transparent=true/" seamless><a href="https://norvmbega.bandcamp.com/album/mons-moro">MONS MORO by NORVMBEGA</a></iframe>

        <h3>as a mix engineer &middot; 作為混音師</h3>
        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2678889284/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://jomoma.bandcamp.com/album/make-another-winter">Make Another Winter by Jomoma</a></iframe>
      </div>
    </div>
  </div>
</section>
