<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container text-center">
    <h2 class="mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="skinny">
    <h4>"Accordionist Josh Hou reaches towards homeland with new record 'Diaspora'"</h4>
    Alexa Peters, <a href="https://www.knkx.org/jazz/2024-08-12/accordionist-josh-hou-reaches-towards-homeland-with-new-record-diaspora">KNKX</a><br/>
    <br/>

    <h4>"...Hou’s album feels like serious world building. He’s tying together thousands of years of history, weaving two or three worlds together."</h4>
    Devon Léger, <a href="https://www.earshot.org/2024-10-josh-hou-diaspora/">Earshot Jazz</a><br/>
    <br/>

    <h4>"Hou’s versatility as a musician brought a level of vitality to Good Luck Rabbits that I have never seen in jazz instruments. Seamlessly transitioning from piano, to accordion, to guitar, Hou set the gold standard for a captivating set."</h4>
    Isabelle Greenberg, <a href="https://www.dailyuw.com/article/3acvnmi1rdyj-20251204">The Daily</a>

    </div>
  </div>
</section>
