<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center skinny">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/foPtYjUOjCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aeFK6o_BypM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/71KOVzVq8Oc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>
