<html>
    <head>
        <title>{{page.title}}</title>
        <link href='http://fonts.googleapis.com/css?family=Crushed|Noticia+Text' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">

                <div class="nine columns centered">
                    <div class="nine columns">
                        {{content}}
                    </div>

                    <div class="three columns">
                        {% render links.md %}
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
